/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.logo-container {
    display: inline-block;
}

.logo-mini {
    width: 50px;
    height: auto;
}

.logo-text-mini {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:hover .logo-text-mini {
    transform: rotate(0deg);
}


/* Specific section styles */
#time-investment {
    background-color: #fff;
}

#crypto-insights {
    background-color: #f8f9fa;
}

/* Media queries and responsive styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
}
